<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.ac.ut.berim" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BerimApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PlaceActivity"
            android:label="@string/title_activity_place" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name=".TestScrollActivity"
            android:label="@string/title_activity_test_scroll"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".RegisterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
